<!-- About Section -->
<section  id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Luxury Woods is a Premium Quality Furniture Supplier from Pakistan for your Businesses and Offices. We supply Raw, Semi-Finished and Finished products according to the needs of our Clients.</p>
      </div>
      <div class="col-lg-4">
        <p>Introducing Luxury Woods, your destination for high-quality, custom-designed furniture. With our expert craftsmanship and attention to detail, we create furniture that perfectly aligns with your unique needs and vision. Whether you have a specific design in mind or prefer to choose from our impressive selection and portfolio, we deliver outstanding results.</p>
      </div>
      <div class="col-lg-4">
        <p>Our team of skilled artisans and designers work closely with clients to bring their unique visions to life. We understand that each business has its own style and functional requirements, which is why we offer the flexibility of custom designs. From concept to creation, we ensure that every piece of furniture is tailored to perfection, reflecting the individuality and brand identity of our clients.</p>
      </div>
    </div>
  </div>
</section>
