<!-- About Section -->
<section>
    <div class="container portfolio-flex-grid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Our Promise</h2>
            <hr class="star-primary">
          </div>
        </div>

        <br/><br/>
        <div class="portfolio-flex-row">
            <div class="portfolio-flex-item portfolio-item">
                <img class="img-responsive" style="width:25%;" src="img/promises/quality.png"/>
                <h3>Premium Quality</h3>
                <p>Our dedicated customer service team is always available to answer any questions or concerns you may have, providing personalized assistance for each customer.</p>
              </div>
              <br/>
      
              <div class="portfolio-flex-item portfolio-item">
                <img class="img-responsive" style="width:25%;" src="img/promises/money.png"/>
                <h3>Affordable Prices</h3>
                <p>Despite using premium materials and craftsmanship, we offer our items at affordable prices, making them accessible to everyone.</p>
              </div>
              <br/>
      
              <div class="portfolio-item portfolio-flex-item">
                <img class="img-responsive" style="width:25%;" src="img/promises/criteria.png"/>
                <h3>Quality Control</h3>
                <p>Our expert labor and professional staff oversees every aspect of the production process, ensuring that each items meets our strict quality control standards.</p>
              </div>
        </div>
      </div>
    </section>