<!-- Header -->
<header style="background-image: url('{{site.baseurl}}/img/Main.png'); background-repeat: no-repeat; background-size: cover;">
  <div class="container" style="background-color: rgba(139,90,43,0.6); width:100vw; padding-top: 15vh; padding-bottom: 15vh;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!--<img class="img-responsive" src="img/profile.png" alt="profile-pic" />-->
          <div class="intro-text">
            <span class="name">{{ site.title }}</span>
            <span class="skills">Welcome to LUXURY WOODS. Luxury Woods is a Premium Quality Furniture Supplier from Pakistan for your Businesses and Offices. We supply Raw, Semi-Finished, and Finished products according to the needs of our Clients.</span>
          </div>
        </div>
      </div>

    
    </div>

  </div>

</header>
