<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2>Vision Statement</h2>
            <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div style="text-align:center;">
                <p>To be globally recognized as the epitome of luxury and craftsmanship in the furniture industry as we aspire to inspire and delight our customers with our exquisite designs, exceptional quality, and unparalleled service through our commitment to excellence.</p>
            </div>
        </div>
    </div>
</section>